@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Thambi 2', cursive;
}

*::selection {
  text-shadow: none;
  color: #fff;
  background-color: #f8b639;
}

body {
  background-color: #e0e5ec;
  width: 100vw;
  height: 100vh;
}

body header {
  align-self: flex-start;
  justify-self: flex-start;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.w-50 {
  width: 50%;
}

.d-flex {
  display: flex;
}

.dir-col {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.aifs {
  align-items: flex-start;
}

.jcsb {
  justify-content: space-between;
}

.m-2 {
  margin: 2rem;
}

.p-2 {
  padding: 2rem;
}

.title {
  background: #fff;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: rgb(0 0 0 / 35%) 1px 2px 1px;
  font-size: 2.5rem;
}

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 1.2rem;
  padding: 1rem 3rem;
  transition: all 260ms ease;
  text-decoration: none;
  font-family: inherit;
  max-width: 100%;
  color: #9baacf;
  background: #e0e5ec;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(195 193 198 / 90%), -0.2rem -0.2rem 0.4rem #fff;
}

.button:hover,
.button:focus {
  color: #ff7025;
}

.button:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgb(195 193 198 / 90%), inset -0.2rem -0.2rem 0.5rem #fff;
}

.neu {
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1.2rem;
  background: #e0e5ec;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(195 193 198 / 90%), -0.2rem -0.2rem 0.4rem #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.shadow-in {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgb(195 193 198 / 90%), inset -0.2rem -0.2rem 0.5rem #fff;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  background: transparent;
  color: #9baacf;
}

.shadow-in:focus {
  box-shadow:
    inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9),
    inset -0.2rem -0.2rem 0.5rem #fff,
    0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9),
    -0.2rem -0.2rem 0.4rem #fff;
  outline: 0;
  color: #606f96;
}

.engrave {
  background: #b1b1b1;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: rgb(255 255 255 / 30%) 1px 2px 1px;
  font-size: 2rem;
}

ul {
  overflow: hidden;
  overflow-y: scroll;
}

ul::-webkit-scrollbar {
  width: 12px;
  -webkit-appearance: none;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(108, 121, 119, 0.44);
  border: 2px solid #fff;
  border-radius: 1rem;
}

li {
  list-style: none;
  color: #606f96;
  padding: 0.5rem;
}

.alert {
  background: #e0e5ec;
  box-shadow:
    inset 0.2rem 0.2rem 0.5rem rgb(195 193 198 / 90%),
    inset -0.2rem -0.2rem 0.5rem #fff,
    0.3rem 0.3rem 0.5rem rgb(195 193 198 / 90%),
    -0.2rem -0.2rem 0.4rem #fff;
  padding: 1rem 1.75rem 1rem 1.25rem;
  border-radius: 1.2rem;
  align-items: baseline;
  position: relative;
  width: 100%;
}
